/*
 * @Descripttion:
 * @Author: CodeGetters
 * @version:
 * @Date: 2023-06-19 22:16:29
 * @LastEditors: CodeGetters
 * @LastEditTime: 2023-06-21 16:38:16
 */

commitlint.config.js

packages/studiousFront/auto-imports.d.ts
packages/studiousFront/components.d.ts
packages/studiousFront/.env

packages/studiousFront/dist
packages/studiousFront/src/assets
packages/studiousFront/public
