/*
 * @Descripttion: 全局通用样式
 * @Author: CodeGetters
 * @version:
 * @Date: 2023-06-21 15:04:04
 * @LastEditors: CodeGetters
 * @LastEditTime: 2023-06-23 12:55:04
 */
@font-face {
  font-family: "CascadiaCode";
  src: url("../assets/font/CascadiaCode.ttf");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-family: "CascadiaCode";
  overflow: hidden;
}
.fade-enter-from {
  /* 进入时的透明度为 0 和 刚开始进入时的原始位置通过 active 透明度渐渐变为 1 */
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-to,
.fade-leave-from {
  /*定义进入完成后的位置 和 透明度 */
  transform: translateX(0%);
  opacity: 1;
}
.fade-leave-active,
.fade-enter-active {
  transition: all 0.5s ease-out;
}
.fade-leave-to {
  /* 这个是离开后的透明度通过下面的active阶段渐渐变为0 */
  transform: translateX(100%);
  opacity: 0;
}
